
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    }
  
  body{
    background-color: #1f142e;
  }
  .container{
    background-color: #4E6766;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  
  .input-task{
    font-family: 'Didot', serif;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
  }
  
  .button-add-task{
    font-family: 'Didot', serif;
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color:#A5C882;
    color: #000000;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    
  }
  
  .button-add-task:hover{
    opacity: 0.8;
  }
  
  .button-add-task:active{
    opacity: 0.5;
  }
  
  .list-task{
    width: 100%;
    list-style: none;
    margin-top: 30px;
  }
  
  .task{
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgb(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

 .btConcluido:hover{
  opacity: 0.8;
  }

  .btConcluido{
    border: none;
  }

 .btConcluido:active{
  opacity: 0.5;
  }

.btDeletar:hover{
  opacity: 0.8;
 }

 .btDeletar{
  border: none;
 }

 .btDeletar:active{
  opacity: 0.5;
 }

 .btEditar:hover{
  opacity: 0.8;
 }

 .btEditar{
  border: none;
 }

 .btEditar:active{
  opacity: 0.5;
 }

 .btDesfazer:hover{
  opacity: 0.8;
 }
 .btDesfazer{
  border: none;
 }

 .btDesfazer:active{
  opacity: 0.5;
 }
  
  img{
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
  }
  
  .task:hover img{
    opacity: 1;
  }
